[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = ANN401,BLK100,E203,E501,W503
per-file-ignores = tests/*:S101
max-complexity = 12
max-line-length = 96
application-import-names = semester6,tests
import-order-style = google
docstring-convention = google
